---
description: >
  Restaurointimaalaus MIMOS Oy tarjoaa laadukasta ja
  ammattitaitoista restauroinnin ja pintakäsittelyn
  kokonaispalveluja.
---
<!DOCTYPE html>
<html lang="fi">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>MIMOS Oy - Restaurointimaalaus</title>
    <meta name="description" content="{{ page.description }}">
    
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Limelight|Corben" rel="stylesheet">

    <!--styles-->
    {% capture styles %}
      {% include styles.scss %}
    {% endcapture %}
    <style>
      {{ styles | scssify }}
    </style>
    
    <script async src="{{ '/scripts/bg-image.js' | prepend: site.github.url }}"></script>

  </head>
  
  <body class="blur">
    
    <!--front page-->
    <a class="m2" href="{{ site.github.url }}/">Etusivu</a>
    
    <!--gallery-->
    <section class="flex flex-wrap">
    {% for image in site.static_files %}
      {% assign folder = image.path | split:'/' %}
      {% if folder[1] == 'images' %}
      {% unless image.path contains '-min.jpg' %}
        <!--individual image-->
        {% include image.html path=image.path %}
      {% endunless %}
      {% endif %}
    {% endfor %}
    </section>
    
  </body>
</html>
