---
description: >
  Restaurointimaalaus MIMOS Oy tarjoaa laadukasta ja
  ammattitaitoista restauroinnin ja pintakäsittelyn
  kokonaispalveluja.
---
<!DOCTYPE html>
<html lang="fi">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>MIMOS Oy - Restaurointimaalaus</title>
    <meta name="description" content="{{ page.description }}">
    
    <!--stylesheets-->
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.github.url }}">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Corben" rel="stylesheet">
    
  </head>
  
  <body class="blur">
    
    <!--front page-->
    <a class="m2" href="/">Etusivu</a>
    
    <!--gallery-->
    <section class="flex flex-wrap">
    {% for image in site.static_files %}
      {% assign folder = image.path | split:'/' %}
      {% if folder[1] == 'images' %}
      <!--individual image-->
      <div class="gallery-img m2" style="background-image: url('{{ image.path | prepend: site.github.url }}');">
        <a href="{{ image.path | prepend: site.github.url }}">
          <img src="{{ image.path | prepend: site.github.url }}" alt="">
        </a>
      </div>
      {% endif %}
    {% endfor %}
    </section>
    
  </body>
</html>
