html {
  box-sizing: border-box;
  background-color: #a66958;
  background: url(../kansikuva/normal.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Corben', cursive;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

.below-fold {
  top: 40vh;
}

h1, h2 {
  font-family: 'Limelight', cursive;
}

.fit-vertical {
  height: auto;
}

.blur {
  background-color: #d0b0a7;
  background: url(../kansikuva/blur.jpg) no-repeat center center fixed;
  background-size: cover;
}

@media screen and (min-width: 52em) {
  .left-margin {
    width: 60px;
  }

  .below-fold {
    top: 75vh;
  }
}
