@import "variables";

html {
  box-sizing: border-box;
  background: url(../images/kansikuva.jpg) no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Corben', cursive;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

.below-fold {
  top: 75vh;
}

.top37 {
  top: 37vh;
  transform: translate(0, -50%);
}

.title-logo {
  font-size: 4em;
  width: 13em;
  text-align: center;
  cursor: default;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  -khtml-user-select: none;
	user-select: none;
}

h1, h2 {
  font-family: 'Limelight', cursive;
}

.blur {
  background: url(../images/kansikuva_blur.jpg) no-repeat center center fixed;
  background-size: cover;
}
