html {
  box-sizing: border-box;
  background: url(../images/cover-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

.below-fold {
  top: 100vh;
}