html {
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}

body {
  margin: 0;
}

article,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

a {
  background-color: transparent; 
  -webkit-text-decoration-skip: objects; 
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border-style: none;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}
