<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site.github.url %}
      <base href="{{ site.github.url }}">
    {% endif %}

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">
    
    <link rel="stylesheet" href="/css/main.css">
    {% if page.css %}
      <link rel="stylesheet" href="{{ page.css }}">
    {% endif %}
  </head>
  <body>
    <nav class="flex justify-center">
      <ul id="nav-links" class="nav-list flex flex-wrap relative">
        {% for page in site.html_pages %}
          <li class="menu-item">
            <a class="menu-link" href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
